# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/

# Environment variables (sensitive)
.env

# Distribution / packaging
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
